:root {
    --color1: #ADD8E6;
    --color2: #DAA521;
    --color3: #EE81EE;
}

header {
    height: 600px;
    
    background: url(img-3/jumbo.png);
    background-size: cover;
    padding-block: 15px;
}

.flex {
    display: flex;
}

header > .flex {
    justify-content: space-around;
}

.logo,
.menu,
.btn-accedi
 {
    height: 50px;
    width: 50px;
    background-color: var(--color2);
}

.text-container {
    text-align: center;
    width: 60%;
    height: 100px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: var(--color3);
}

