/*:root {
    --color1: #ADD8E6;
    --color2: #DAA521;
    --color3: #EE81EE;
    --color4: #5c5a5a;
    --color5: #21B2AA;
    --color6: #23272A;
}*/

html {
    font-family: sans-serif;
}

header {
    height: 600px;
    background: url(img-3/jumbo.png);
    background-size: cover;
    padding-block: 15px;
}

.flex {
    display: flex;
}

header > .flex {
    justify-content: space-around;
}

.btn-accedi{
background-color: white;
border-radius: 20px;
width: 60px;
height: 30px;
}

.logo,
.menu
 {
    height: 50px;
    width: 80px;
    background-color: var(--color2);
    color: white;
}

.text-container {
    text-align: center;
    width: 35%;
    height: 100px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: var(--color3);
    color: white;
}


.container-80 {
    width: 80%;
    margin: 0 auto;
    padding-top: 50px;
}


main section:nth-child(even) {
    background-color: var(--color4);
}

main section:nth-child(even) > div {
    flex-direction: row-reverse;
}

main section:last-child > div {
    flex-direction: column;
}

.flex-basis-60 {
    flex-basis: 60%;
    height: 60px;
}

.flex-basis-40 {
    flex-basis: 40%;
    height: 60px;
}

footer .flex div {
    flex-basis: calc((100%) / 5);
    height: 50px;
    background-color: var(--color5);
}

footer .flex div:first-child {
    flex-basis: 25% ;
}

footer {
    background-color:var(--color6);
}