/*:root {
    --color1: #ADD8E6;
    --color2: #DAA521;
    --color3: #EE81EE;
    
    --color5: #21B2AA;
    */
    :root {
    --color6: #23272A;
    --color4: #d0d0d0;
    }

html {
    font-family: sans-serif;
}

header {
    height: 600px;
    background: url(img-3/jumbo.png);
    background-size: cover;
    padding-block: 15px;
}

.flex {
    display: flex;
}

header > .flex {
    justify-content: space-around;
}

.btn-accedi{
background-color: white;
border-radius: 20px;
width: 60px;
height: 30px;
}

.logo,
.menu
 {
    height: 50px;
    background-color: var(--color2);
    color: white;
}

.text-container {
    text-align: center;
    width: 35%;
    height: 100px;
    margin: 0 auto;
    margin-top: 200px;
    background-color: var(--color3);
    color: white;
}

.container-80 {
    width: 60%;
    margin: 0 auto;
    padding-top: 100px;
}


main section:nth-child(even) {
    background-color: var(--color4);
}

main section:last-child > div {
    flex-direction: column;
}

.flex-basis-60 {
    flex-basis: 60%;
}

.flex-basis-40 {
    flex-basis: 40%;
    padding: 50px;
}

footer .flex div {
    flex-basis: calc((100%) / 5);
    background-color: var(--color5);
    padding: 10px;
}

footer .flex div:first-child {
    flex-basis: 25% ;
    width: 200px;
}

footer {
    background-color:var(--color6);
    color: white;
}

.button1 {
    background-color: blue;
    color: white;
    padding: 15px;
    border-radius: 20px;
    margin: 0 auto;
    
}

.blu {
    color: blue;
}

.h2-bg {
    text-align: center;
    background-image:url(img-3/stars.svg) ;
    background-size:auto;
}
hr {
    color: blue;
    
}

.foot-flex {
    display: flex;
    justify-content: space-between;
    background-color: var(--color6);
    padding-top: 20px;
}

.button2 {
background-color: blue;
color: white;
height: 30px;
width: auto;
border-radius: 20px;
}